#chart-temperature {
  background-color: #1e1e1e;
  border-radius: 30px;

}

.line {
    stroke-width: 6;
    fill: none;
  }
  
  .axis path,
  .axis line {
    stroke: #ccc;
  }
  
  .axis text {
    font-size: 12px;
    fill: #555;
  }
  
  .chart-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #FFF;
  }
  
  .tooltip {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    color: #1e1e1e;
    padding: 6px 10px;
    font-size: 12px;
    pointer-events: none;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  }

  .x-axis text, 
  .y-axis text {
    fill: #f5f5f5;
  }
  